<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if title %}
        <title> {{ title }} </title>
        {% else %}
        <title> Default </title>
        {% endif %}

        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static',
            filename='css/style.css') }}">
    </head>
    <body>
        <nav class="nav-bar">
            <ul class="nav-links">
                <li> <a href="{{ url_for('home') }}"> Home </a> </li>
                {% if not g.user %}
                <li style="float:right"> <a href="{{ url_for('login') }}"> Login </a> </li>
                {% else %}
                <li style="float:right"> <a href="{{ url_for('logout') }}"> Logout </a> </li>
                {% endif %}
            </ul>
        </nav>
            <div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
            </div>
    </body>

</html>
