{% extends 'base.html' %}


{% block content %}
<div class="flex-container">
    <div class="question padding-horizontal--100 width: 100%">
        <form method="post" novalidate>
            <p class="">Question {{qid}}</p>
            <div class="dotted-spaced"></div>
            <hr>
            <div>
                <h3>{{q.Questions}}</h3>
            </div>
            <br>
            <!-- <h1 class="field padding-bottom--24">{{q.Anwser}}</h1> -->
            <div class="field padding-bottom--24">
                {{ form.anwser(class="list-unstyled") }}
            </div>
            <div class="field">
                {{ form.submit(class="btn btn-primary btn-lg sub-btn") }}
            </div>
        </form>

    </div>
</div>
{% endblock %}
