{% extends "base.html" %}

{% block content %}
<div class="formbg-outer">
    <div class="formbg">
        <div class="formbg-inner padding-horizontal--48">
            <span class="padding-bottom--15">Sign in to your account</span>
            <form id="stripe-login" action="" method="post">
                {{ form.hidden_tag() }}
                <div class="field padding-bottom--24">
                    <label for="email">{{ form.email.label }}</label>
                    {{ form.email(size=64) }}
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="field padding-bottom--24">
                    <label for="email">{{ form.username.label }}</label>
                    {{ form.username(size=32) }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="field padding-bottom--24">
                    <div class="grid--50-50">
                        <label for="password">{{ form.password.label
                            }}</label>
                    </div>
                    {{ form.password(size=32, placeholder="Password") }}
                    {% for error in form.password.errors %}
                    <span style="color:red;"> {{ error }} </span>
                    {% endfor %}
                </div>
                <div class="field padding-bottom--24">
                    <div class="grid--50-50">
                        <label for="password">{{ form.confirm.label
                            }}</label>
                    </div>
                    {{ form.confirm(size=32, placeholder="Password") }}
                    {% for error in form.confirm.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="field field-checkbox padding-bottom--24
                    flex-flex
                    align-center">
                </div>
                <div class="field padding-bottom--24">
                    {{ form.submit() }}
                </div>
                <div class="field">
                    <a class="ssolink" href="#">Use single sign-on
                        (Google) instead</a>
                </div>
            </form>
        </div>
    </div>
    <div class="footer-link padding-top--24">
        <span>Alreadyhave an account? <a href="{{ url_for('login')
                }}">Login In</a></span>
        <div class="listing padding-top--24 padding-bottom--24
            flex-flex
            center-center">
            <span><a href="#"></a></span>
            <span><a href="#">Contact</a></span>
            <span><a href="#">Privacy & terms</a></span>
        </div>
    </div>
</div>



{% endblock %}