{% extends 'base.html' %}

{% block content %}
<div class="flex-container">
    <div class="question padding-horizontal--100 width: 100%">
        
        <h2 class="score-head">Your Score is </h1>
        <div class="score-circle">
            <h3>{{ score }}</h3>
        </div>
        <h3 class="congrats-cls">Congratulations! <i class="fas
                fa-glass-cheers"></i></h3>


        <div class="highest-score">
            Highest Score: {{ high_today.score }} by <p class="high-score-name">{{
                H_user }}</p>
        </div>

        <div>
            your best is <div>{{user_best}}</div>
        </div>

        <div class="padding-bottom--24">
            <table id="leaderborad">
                <tr> 
                    <th>rank</th>
                    <th>score</th>
                    <th>Username</th>
                </tr>
                {% for item in leaderborad %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[0] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        
    </div>

</div>
{% endblock %}